$green-color:#18cfab;
$dark-grey-color:black;
$white-color:#ffffff;

$prime-font:'Roboto', sans-serif;
;

@mixin d-flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@mixin d-flex-column{
  display: flex;
  flex-direction: column;
}
@mixin container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
