@import "../components/mixins";

footer{
  background-color: $dark-grey-color;
  padding: 50px 0;

}
.social-network-links{
  text-decoration: none;
  font-size: 20px;
  color: $green-color;
  font-family: $prime-font;
  margin: 50px 0;

}
.social-network-links:hover{
  transition: 1s;
  color: $white-color;

}