@import "../components/mixins";


header {
  background-color: $dark-grey-color;
  width: 100%;
  padding: 40px 0;
}

.container {
  @include container;
}
.line::after{
  content: "";
  width: 45px;
  border-bottom: 2px solid #18cfab;
  position: absolute;
  bottom: -2px;
  left: 70px;
}
.header-container {
  @include d-flex-row;
  align-items: center;
  justify-content: space-between;

}

nav {
  display: flex;
}

.nav-list {
  @include d-flex-row;
  position: relative;
}

.nav-link {
  text-decoration: none;
  font-size: 15px;
  margin-left: 70px;
  text-transform: uppercase;
  font-family: $prime-font;
  color: $green-color;
}

.nav-link:hover {
  transition: 1s;
  color: $white-color;

}

.logo {
  font-family: $prime-font;
  text-decoration: none;
  text-transform: uppercase;
  color: $green-color;
}

.logo:hover {
  transition: 1s;
  color: $white-color;
}
