@import "../components/mixins";

.my-description{
  background-color: $dark-grey-color;
}
.description-title{
  color: $white-color;
  font-size: 34px;
  font-family: $prime-font;
  padding: 20px 0;
  text-align: left;


}
.description-subtitle{
  color: $white-color;
  font-size: 24px;
  font-family: $prime-font;
  text-align: left;
  line-height: 40px;
}