@import "../components/mixins";

.photo-container {
  @include d-flex-row;
  justify-content: center;
  align-items: center;

}

.photo {
  background-color: $dark-grey-color;
  padding: 75px 0 35px 0;
  position: relative;
}

.childhood-image:hover {
  box-shadow: inset 0 0 0 10px $green-color;
  transition: 1s;

}

.guitar-image:hover {
  box-shadow: inset 0 0 0 10px $green-color;
  transition: 1s;
}

.guitar-image {
  width: 800px;
  display: none;
  height: 500px;
  background: url(../img/guitar.jpg) no-repeat 0 28%/cover;
  border: 3px solid $green-color;
  margin: 0 auto;
  position: relative;


}

.childhood-image {
  display: none;
  width: 800px;
  height: 500px;
  background: url("../img/childhood.jpg") no-repeat 0 25%/cover;
  border: 3px solid $green-color;
  margin: 0 auto;
  position: relative;

}

.now-image {
  display: none;
  width: 800px;
  height: 500px;
  background: url("../img/big-boy.jpg") no-repeat center/cover;
  border: 3px solid $green-color;
  margin: 0 auto;
  position: relative;
}

.now-image:hover {
  box-shadow: inset 0 0 0 10px $green-color;
  transition: 1s;
}

.current {
  display: flex;
}

.n {
  color: $green-color;
}

.left-arrow {
  text-decoration: none;
  font-size: 50px;
  color: $green-color;
  margin-right: 40px;
}

.right-arrow {
  text-decoration: none;
  font-size: 50px;
  color: $green-color;
  margin-left: 40px;
}

.right-arrow:hover {
  color: $white-color;
  transition: 1s;
}

.left-arrow:hover {
  color: $white-color;
  transition: 1s;
}

.photo-description {
  color: $white-color;
  font-size: 21px;
  position: absolute;
  top: -35px;
  left: 0;
  transform: translate(3%);
  display: inline-block;
}

.second-description {
  left: 50%;
  transform: translate(-50%);
}

.third-description {
  left: 50%;
  transform: translate(-50%);
}