@import "./components/normalize";
@import "./components/mixins";

.about-container {
  height: 100%;

}
.line::after{
  content: "";
  width: 76px;
  border-bottom: 2px solid #18cfab;
  position: absolute;
  bottom: -2px;
  left: 69px;
}
.projects{
background-color: $dark-grey-color;
  height: 100vh;
  padding-top: 50px;
}
.nav-item{
  position: relative;
}
.description {
  color: $white-color;
  font-size: 30px;
  font-family: $prime-font;
  text-align: center;
  line-height: 40px;
}

.to-home {
  text-decoration: none;
  color: $white-color;
  font-size: 35px;
  font-family: $prime-font;
  cursor: alias;
}

.contacts {
  text-decoration: none;
  color: $white-color;
  font-size: 35px;
  font-family: $prime-font;
  cursor: alias;
}

.contacts:hover {
  color: $green-color;
  transition: 1s;
}

.to-home:hover {
  color: $green-color;
  transition: 1s;
}

header {
  background-color: $dark-grey-color;
  width: 100%;
  padding: 40px 0;
}

.container {
  @include container;
}

.header-container {
  @include d-flex-row;
  align-items: center;
  justify-content: space-between;

}

nav {
  display: flex;
}

.nav-list {
  @include d-flex-row;
}

.nav-link {
  text-decoration: none;
  font-size: 15px;
  margin-left: 70px;
  text-transform: uppercase;
  font-family: $prime-font;
  color: $green-color;
}

.nav-link:hover {
  transition: 1s;
  color: $white-color;

}

.logo {
  font-family: $prime-font;
  text-decoration: none;
  text-transform: uppercase;
  color: $green-color;
}

.logo:hover {
  transition: 1s;
  color: $white-color;
}

