@import "./components/normalize";
@import "./components/mixins";

header {
  background-color: $dark-grey-color;
  padding: 40px 0;
}
.line::after{
  content: "";
  width: 77px;
  border-bottom: 2px solid #18cfab;
  position: absolute;
  bottom: -2px;
  left: 70px;
}
.header-container {
  @include d-flex-row;
  align-items: center;
  justify-content: space-between;
}
.nav-item{
  position: relative;
}
nav {
  display: flex;
}

.nav-list {
  @include d-flex-row;
}

.nav-link {
  text-decoration: none;
  font-size: 15px;
  margin-left: 70px;
  text-transform: uppercase;
  font-family: $prime-font;
  color: $green-color;

}

.nav-link:hover {
  transition: 1s;
  color: $white-color;

}

.logo {
  font-family: $prime-font;
  text-decoration: none;
  text-transform: uppercase;
  color: $green-color;
}

.logo:hover {
  transition: 1s;
  color: $white-color;
}
.contacts{
  background-color: $dark-grey-color;
  height: 100vh;
  padding-top: 50px;

}
.contacts-container {
  height: 100%;
  @include d-flex-column;
  align-items: center;

}

.container {
  @include container;
}
.subtitle {
  color: $white-color;
  font-size: 50px;
  font-family: $prime-font;
}

.mail {
  color: $white-color;
  font-size: 50px;
  font-family: $prime-font;
}

.phone {
  color: $white-color;
  font-size: 50px;
  font-family: $prime-font;

}

.skype {
  color: $white-color;
  font-size: 50px;
  font-family: $prime-font;
}
