@import "./components/normalize";
@import "./components/mixins";

header {
  background-color: $dark-grey-color;
  width: 100%;
  padding: 40px 0;
}
.example-items{
  background-color: $dark-grey-color;
}
.line::after{
  content: "";
  width: 124px;
  border-bottom: 2px solid #18cfab;
  position: absolute;
  bottom: -2px;
  left: 182px;
}
.container {
  @include container;
}

.header-container {
  @include d-flex-row;
  align-items: center;
  justify-content: space-between;

}

nav {
  display: flex;
}

.nav-list {
  @include d-flex-row;
  position: relative;
}

.nav-link {
  text-decoration: none;
  font-size: 15px;
  margin-left: 70px;
  text-transform: uppercase;
  font-family: $prime-font;
  color: $green-color;
}

.nav-link:hover {
  transition: 1s;
  color: $white-color;

}

.logo {
  font-family: $prime-font;
  text-decoration: none;
  text-transform: uppercase;
  color: $green-color;
}

.logo:hover {
  transition: 1s;
  color: $white-color;
}

.container {
  @include container;
}

.done-container {
  @include d-flex-column;
  justify-content: center;
  align-items: center;

}

.project-item {
  width: 70%;
  padding: 10px 0;
  text-align: center;
  border: 1px solid $green-color;
  margin-bottom: 20px;

}

.technologies {
  padding: 30px 0;

}

.technology-list {
  color: $white-color;
  font-size: 20px;
  padding: 10px 0;
  font-family: $prime-font;

}

.rep-link {
  text-decoration: none;
  font-size: 30px;
  font-family: $prime-font;
  padding: 20px 0;
  color: $green-color;
}

.rep-link:hover {
  transition: 1s;
  color: $white-color;
}

.project-link {
  text-decoration: none;
  color: $green-color;
  font-size: 40px;
  font-family: $prime-font;
  display: block;
  margin: 10px 0 10px 0;


}

.project-link:hover {
  color: $white-color;
  transition: 1s;
}

.links-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border: 1px solid $green-color;

}

.home-link {
  text-decoration: none;
  color: $white-color;
  font-size: 35px;
  font-family: $prime-font;
}

.contacts-link {
  text-decoration: none;
  color: $white-color;
  font-size: 35px;
  font-family: $prime-font;
}
